<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>麻将笔记</title>
    <link  rel="stylesheet" href="css/bootstrap.css" >
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <script src="js/bootstrap.js" type="javascript"></script>
</head>
<body>
<div th:insert="~{nvaigation :: nva}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" class="form-control" id="title" name="title"th:value="${title}"  placeholder="问题标题。。。。">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填，请参照右侧提示):</label>
                    <hr>
                    <textarea name="description" th:text="${description}" id="description" cols="48" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag"name="tag" placeholder="输入标签，以逗号（，）分隔">
                </div>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error!=null}"></div>
                <button type="submit" class="btn btn-success">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            <ul>
                <ol>问题标签。</ol>
                <ol>问题补充。</ol>
                <ol>选择标签。</ol>
            </ul>
        </div>
    </div>
</div>
</body>
</html>